@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.instructions-class{
    font-weight: 800;
}
.MainDiv {
    width: 100%;
}
.checkboxNotApply{
    font-weight: 800;
    margin-top: 10px;
}
.list-example-row {
    padding: 0px 12px;
  }
  .buttonGroup {
    margin-top: 1em;
    float: right;
  }
  .successIcon {
    margin-right: 5px;
  }
  .resetOptionsDD {
    padding-top: 7px;
    padding-bottom: 5px;
  }
  .skippedAlmostDoneIcon {
    margin-right: 2px;
  }
  .noteDiv {
    padding-bottom: 3px;
  }
  