@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.instructions-class{
    font-weight: 800;
}
.MainDiv {
    width: 100%;
}
.checkboxNotApply{
    font-weight: 800;
    margin-top: 10px;
}